fastapi~=0.116.1
uvicorn~=0.35.0
langchain
langchain-core~=0.3.75
langchain-openai~=0.3.32
langchain-community~=0.3.29
langgraph~=0.6.6
ipython
python-dotenv~=1.1.1
duckduckgo-search
requests~=2.32.5
openai

pydantic~=2.11.7